<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruits Shop Ruby</title>
</head>
<body>
    <h1>Fruits Shop Ruby</h1>
    <h2>Cash Register</h2>
    

    <form action="/add" method="post">
      <label for="product">Enter a product : </label></br>
      <input type="text" name="product" id="product">
      <button type="submit">Add</button>
    </form></br>
    
    <div>
      <%= result %>
    </div>

    <div>
      <p>basket :</p>
      <%= basket %>
    </div>
    
</body>
</html>